{% extends 'base.html' %}


{% load static %}


{% block title %}
    <title>首页_Hella个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
{% endblock %}


{% block css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
{#    <link href="{% static 'css/md.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/info.css' %}" rel="stylesheet">
    <link href="{% static 'css/monokai.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.easyfader.min.js' %}"></script>
    <script src="{% static 'js/hc-sticky.js' %}"></script>
    <script src="{% static 'js/comm.js' %}"></script>
    <script src="{% static 'js/scrollReveal.js' %}"></script>
{% endblock %}


{% block main %}
    <main>
        <div class="infosbox">
            <div class="newsview">
                <h3 class="news_title">{{ article.title }}</h3>
                <div class="bloginfo">
                    <ul>
                        <li class="author">作者：<a href="/">{{ article.user }}</a></li>
                        <li class="lmname"><a href="/">{{ article.sort }}</a></li>
                        <li class="timer">时间：{{ article.create_time |date:'Y-m-d H:i:s' }}</li>
                        <li class="view">{{ article.number }}人已阅读</li>
                    </ul>
                </div>
                <div class="tags">
                    <a href="/" target="_blank">{{ article.sort }}</a> &nbsp;
                </div>
                <div class="news_about">
                    <strong>简介</strong>
                    {{ article.intro }}
                </div>
                <div>
                    {{ article.content_text | safe }}
                </div>
            </div>
            <div class="share">
                <p class="diggit">
                    <a href="JavaScript:makeRequest('/e/public/digg/?classid=3&amp;id=19&amp;dotop=1&amp;doajax=1&amp;ajaxarea=diggnum','EchoReturnedText','GET','');">
                        很赞哦！
                    </a>(
                    <b id="diggnum">
                        <script type="text/javascript" src="#"></script>
                        {{ article.like_numbers }}
                    </b>)
                </p>
            </div>
            <div class="nextinfo">
                <p>上一篇：<a href="/news/life/2018-03-13/804.html">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a></p>
                <p>下一篇：<a href="/news/life/">返回列表</a></p>
            </div>
            <div class="news_pl">
                <h2>文章评论</h2>
                <ul>
                    <div class="gbko"></div>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}


{% block footer %}
    <footer>
        <p>
            Design by
            <a href="https://www.thornasa.com/">Hella个人博客</a>
            <a href="http://beian.miit.gov.cn/" target="_blank">粤ICP备2023002639号</a>
            <a href="/" class="links">友情链接</a>
        </p>
    </footer>
    <a href="#" class="cd-top">Top</a>

{#    <script>#}
{#        window.onload = function () {#}
{#            $('div.codehilite pre').addClass('copy_content');#}
{#            var imgs = '复制';#}
{#            var element = '<button id="code" class="btn" data-clipboard-target="copy_content" style="float: right;background: white;padding: 0 10px;text-align: center;">'#}
{#                + imgs + '</button>';#}
{##}
{#            $('div.codehilite pre').before(element);#}
{#            // 复制代码初始化#}
{#            var clipboard = new ClipboardJS('#code', {#}
{#                target: function (e) {#}
{#                    return e.parentNode;#}
{#                }#}
{#            });#}
{##}
{#            clipboard.on('success', function (e) {#}
{#                layui.msg('复制成功！');#}
{#            });#}
{##}
{#            clipboard.on('error', function (e) {#}
{#                layui.msg('复制失败！');#}
{#            });#}
{##}
{#            $('.card-body p img').on('click', function () {#}
{#                console.log($(this).attr('src'));#}
{#                $('#image_detail img').attr({#}
{#                    'src': $(this).attr('src'),#}
{#                    'alt': $(this).attr('alt')#}
{#                });#}
{#                $('#image_detail').modal('toggle');#}
{#            });#}
{#        };#}
{#    </script>#}

{% endblock %}