{% extends 'base.html' %}


{% load static %}


{% block title %}
    <title>首页_Hella个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
{% endblock %}


{% block css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/share.css' %}" rel="stylesheet">
    <link href="{% static 'css/m.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/share.js' %}"></script>
{% endblock %}


{% block topbox %}

    <div class="alert alert-info" role="alert" style="font-size: 1.5em;">
        <form class="form-inline" method="get">
            <div class="form-group" style="width: 80%;">
                <input type="text" class="form-control" style="width: 100%;" value="{{ mission_number }}" name="title" placeholder="请输入您要搜索的内容">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info" style="width: 150px;">Search</button>
            </div>
        </form>
    </div>

    <div class="topbox">
        <ul>
            <li>
                <i>
                    <a href="/">
                        <span class="tnum">1</span>
                        <span class="tpic">
                            <img src="{% static 'images/5.jpg' %}">
                        </span>
                        <span class="toptext">
                            html5个人博客模板《simple》
                        </span>
                    </a>
                </i>
            </li>

            <li>
                <i>
                    <a href="/">
                        <span class="tnum">2</span>
                        <span class="tpic">
                            <img src="{% static 'images/mb2.jpg' %}">
                        </span>
                        <span class="toptext">
                            html5个人博客模板《simple》
                        </span>
                    </a>
                </i>
            </li>

            <li>
                <i>
                    <a href="/">
                        <span class="tnum">3</span>
                        <span class="tpic">
                            <img src="{% static 'images/mb3.jpg' %}">
                        </span>
                        <span class="toptext">
                            html5个人博客模板《simple》
                        </span>
                    </a>
                </i>
            </li>

            <li>
                <i>
                    <a href="/">
                        <span class="tnum">4</span>
                        <span class="tpic">
                            <img src="{% static 'images/mb4.jpg' %}">
                        </span>
                        <span class="toptext">
                            html5个人博客模板《simple》
                        </span>
                    </a>
                </i>
            </li>
        </ul>
    </div>
{% endblock %}


{% block fenlei %}
    <div class="fenlei">
        <ul>
            <li class="flselect"><a href="#top1">古典个人博客</a></li>
            <li><a href="#top2">小清新</a></li>
            <li><a href="#top3">时尚简洁</a></li>
            <li><a href="#top4">技术门户</a></li>
            <li><a href="#top5">国外html5</a></li>
            <li><a href="#top6">PSD设计图</a></li>
        </ul>
    </div>
{% endblock %}


{% block aside %} {% endblock %}


{% block mbans %}
    <div class="mbans">
        <div class="mban" style="display: block;" name="top1">
            <ul>
                <li>
                    <i>
                        <a href="/">
                            <span class="tnum">原创</span>
                            <img src="{% static 'images/mb1.jpg' %}">
                            <span class="mbtitle">个人博客模板《simple》</span>
                        </a>
                    </i>
                </li>

                <li>
                    <i>
                        <a href="/">
                            <span class="tnum">原创</span>
                            <img src="{% static 'images/mb2.jpg' %}">
                            <span class="mbtitle">个人博客模板《simple》</span>
                        </a>
                    </i>
                </li>

                <li>
                    <i>
                        <a href="/">
                            <span class="tnum">原创</span>
                            <img src="{% static 'images/mb3.jpg' %}">
                            <span class="mbtitle">个人博客模板《simple》</span>
                        </a>
                    </i>
                </li>

                <li>
                    <i>
                        <a href="/">
                            <span class="tnum">原创</span>
                            <img src="{% static 'images/mb4.jpg' %}">
                            <span class="mbtitle">个人博客模板《simple》</span>
                        </a>
                    </i>
                </li>

                <li>
                    <i>
                        <a href="/">
                            <span class="tnum">原创</span>
                            <img src="{% static 'images/mb5.jpg' %}">
                            <span class="mbtitle">个人博客模板《simple》</span>
                        </a>
                    </i>
                </li>

                <li>
                    <i>
                        <a href="/">
                            <span class="tnum">原创</span>
                            <img src="{% static 'images/mb1.jpg' %}">
                            <span class="mbtitle">个人博客模板《simple》</span>
                        </a>
                    </i>
                </li>

                <li>
                    <i>
                        <a href="/"><span class="tnum">原创</span>
                            <img src="{% static 'images/mb2.jpg' %}">
                            <span class="mbtitle">个人博客模板《simple》</span>
                        </a>
                    </i>
                </li>

                <li>
                    <i>
                        <a href="/">
                            <span class="tnum">原创</span>
                            <img src="{% static 'images/mb3.jpg' %}">
                            <span class="mbtitle">个人博客模板《simple》</span>
                        </a>
                    </i>
                </li>

                <li>
                    <i>
                        <a href="/">
                            <span class="tnum">原创</span>
                            <img src="{% static 'images/mb4.jpg' %}">
                            <span class="mbtitle">个人博客模板《simple》</span>
                        </a>
                    </i>
                </li>

                <li>
                    <i>
                        <a href="/">
                            <span class="tnum">原创</span>
                            <img src="{% static 'images/mb5.jpg' %}">
                            <span class="mbtitle">个人博客模板《simple》</span>
                        </a>
                    </i>
                </li>
            </ul>
        </div>
        <div class="mban" name="top2">
            <ul>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb1.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb4.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb2.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb3.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb5.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
            </ul>
        </div>
        <div class="mban" name="top3">
            <ul>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb2.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb3.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb4.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb5.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb1.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
            </ul>
        </div>
        <div class="mban" name="top4">
            <ul>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb3.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb1.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb2.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb4.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb5.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
            </ul>
        </div>
        <div class="mban" name="top5">
            <ul>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb2.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb1.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb4.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb3.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb5.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
            </ul>
        </div>
        <div class="mban" name="top6">
            <ul>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb5.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb1.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb2.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb3.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
                <li><i><a href="/"><span class="tnum">原创</span><img src="{% static 'images/mb4.jpg' %}"> <span class="mbtitle">个人博客模板《simple》</span></a></i></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <p>Design by
            <a href="https://www.thornasa.com/">Hella个人博客</a>
            <a href="http://beian.miit.gov.cn/" target="_blank">粤ICP备2023002639号</a>
            <a href="/" class="links">友情链接</a>
        </p>
    </footer>
    <a href="#" class="cd-top">Top</a>
{% endblock %}